<style>
  .product-image-container img {
    max-width: 180px;
    max-height: 180px;
  }
</style>

<a style="position: relative;" href="{{ product.url | within: collection }}" class="transition-all flex flex-col"  data-id="{{ product.vendor | downcase }}">
  {% assign vendor = product.vendor | downcase %}
  {% if vendor == 'bisley'  %}
    <span class="discount-badge">10% OFF!</span>
  {%  endif %}
  <div class="product-image-container h-64 flex items-center p-4 justify-center">
    {% if product.featured_image %}
      <img src="{{ product.featured_image | img_url: 'master'}}" alt="{{ product.featured_image.alt }}" loading="lazy">
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'h-64' }}
    {% endif %}
  </div>
  <div class="product-details mt-5 flex flex-col">
    <span class="uppercase text-wc-yellow font-euro font-extrabold text-xs">{{ product.vendor }}</span>
    <p class="uppercase font-euro font-extrabold leading-none my-2">{{ product.title }}</p>
    
    {% if product.selected_or_first_available_variant.sku != blank %}
      <p class="product-code text-xs mb-2"><span class="font-medium">Product Code: </span>{{ product.selected_or_first_available_variant.sku }}</p>
    {% endif %}

    {% assign price_discount =  product.price | times:0.1 | divided_by:100 %}
    {% assign discounted_price = product.price | minus: price_discount %}
    {% if vendor == 'bisley'  %}
      <div class="product-compare-price flex items-center mt-auto">
        <p class="text-wc-orange font-euro font-bold text-xl">{{ product.price | money }}</p>
        {% if product.compare_at_price %}
          <span class="font-euro font-bold line-through ml-4">{{ product.compare_at_price | money }}</span>
        {% endif %}
      </div> 
    {% else %}
      <div class="product-compare-price flex items-center mt-auto">
        <p class="text-wc-orange font-euro font-bold text-xl">{{ product.price | money }}</p>
        {% if product.compare_at_price %}
          <span class="font-euro font-bold line-through ml-4">{{ product.compare_at_price | money }}</span>
        {% endif %}
      </div> 
    {% endif %}

    <div class="flex" style="display: none;">
      <p class="text-wc-orange font-euro font-bold text-xl">{{ discounted_price | money_with_currency }}</p>
      <span class="font-euro font-bold line-through ml-4">{{ product.price | money }}</span>
    </div>
    
  </div>
</a>  