<!-- /templates/customers/account.liquid -->

<div class="section-header text-center">
  <h1>My Account</h1>
  {{ 'Log out' | customer_logout_link | replace: '<a', '<a class="underline"' }}
</div>

<div class="container mx-auto pb-50px xct:pb-100px lg:flex lg:items-start justify-between py-14">
  <div id="customer-information">
      <!-- add this block where you want the user's info and edit button to appear -->
    <div class="user-info">
      <h2 class="text-xl uppercase xct:text-3xl leading-none border-b-2 border-wc-black pb-2 xct:pb-4 xct:border-b-3 mb-6">User Information</h2>
      <p><strong>Name:</strong> {{ customer.first_name }} {{ customer.last_name }}</p>
      <p><strong>Email:</strong> {{ customer.email }}</p>
      <div class="address note">
        {% if customer.default_address != nil %}
          <p><strong>Address:</strong>
          <br />{{ customer.default_address.address1 }}
          {% if customer.default_address.address2 != "" %}
            <br />{{ customer.default_address.address2 }}
          {% endif %}
          <br />{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}
          <br />{{ customer.default_address.zip}}
          <br />{{ customer.default_address.phone }}</p>
        {% endif %}
      </div>
      <a href="{{ routes.account_addresses_url }}" class="button uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center h-[47px] mt-5">View Address ({{ customer.addresses_count }})</a>
    </div>
    
    <!-- This is the form for editing user information. It is hidden by default. -->
    <div id="edit-user-info" style="display: none;">
      <h2 class="text-xl uppercase xct:text-3xl leading-none border-b-2 border-wc-black pb-2 xct:pb-4 xct:border-b-3 mb-6">Edit User Information</h2>
      <form method="post" action="/account">
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" name="customer[first_name]" value="{{ customer.first_name }}">
    
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" name="customer[last_name]" value="{{ customer.last_name }}">
    
        <label for="Email">Email</label>
        <input type="email" id="Email" name="customer[email]" value="{{ customer.email }}">
    
        <input type="submit" value="Update">
      </form>
    
      <p>
        If you want to change your password, 
        <a href="{{ '/account/password' | within: customer }}">click here</a>.
      </p>
    </div>
  </div>

  <div id="customer_orders">
      <h2 class="text-xl uppercase xct:text-3xl leading-none border-b-2 border-wc-black pb-2 xct:pb-4 xct:border-b-3 mb-6">Orders</h2>
      {% paginate customer.orders by 10 %}
      {% if customer.orders.size != 0 %}
      <table class="responsive-table">
        <thead>
          <tr>
            <th scope="col">Order</th>
            <th scope="col">Date</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Fullfillment Status</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
        {% for order in customer.orders %}
          <!-- order details here -->
          <tr>
            <th data-label="Order" scope="row">
              <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
            </th>
            <td data-label="Date">{{ order.created_at | time_tag: format: 'date' }}</td>
            <td data-label="Payment Status">{{ order.financial_status_label }}</td>
            <td data-label="Fullfillment Status">{{ order.fulfillment_status_label }}</td>
            <td data-label="Total">{{ order.total_price | money }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>You haven't placed any orders yet.</p>
      {% endif %}
      {{ paginate | default_pagination }}
      {% endpaginate %}
  </div>
  
</div>
<style>
#customer-information{
  flex-basis: 33.333333%;
}
#customer-information .button{
  display: inline-flex;
  padding: 0 1rem;
}
#customer_orders{
  flex-basis: 66.666667%;
  padding-left: 60px;
}
table{
  width:100%;
  border-collapse:collapse;
  border-spacing:0
}
th,td{
  text-align:left;
  border:1px solid #bdbdbd;
  padding:10px 14px
}
@media only screen and (max-width: 1169px){
  .section-header{
    margin-top: 60px;
  }
}
@media only screen and (max-width: 767px){
  .responsive-table thead{
    display:none
  }
  .responsive-table th,.responsive-table td{
    float:left;
    clear:left;
    width:100%;
    text-align:right;
    padding:27.5px 0;
    border:0;
    margin:0
  }
  .responsive-table th:before,.responsive-table td:before{
    content:attr(data-label);
    float:left;
    text-align:center;
    font-size:12px;
    padding-right:10px;
    font-weight:400
  }
  .responsive-table__row+.responsive-table__row,tfoot>.responsive-table__row:first-child{
    position:relative;
    margin-top:10px;
    padding-top:55px
  }
  .responsive-table__row+.responsive-table__row:after,tfoot>.responsive-table__row:first-child:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:27.5px;
    right:27.5px;
    border-bottom:1px solid #bdbdbd
  }
}
</style>

<script>
  document.getElementById('edit-info').addEventListener('click', function() {
    var form = document.getElementById('edit-user-info');
    if (form.style.display === "none") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  });
</script>