<!-- /templates/customers/account.liquid -->

<div class="section-header text-center">
    <h1>My Account</h1>
    {{ 'Log out' | customer_logout_link }}
</div>

<div class="container mx-auto pb-50px xct:pb-100px lg:flex lg:items-start xct:justify-between py-14">
    <div id="customer_orders">
        <h2>Order History</h2>
        {% paginate customer.orders by 20 %}
            {% if customer.orders.size != 0 %}

            <table class="responsive-table">
                <thead>
                <tr>
                    <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                    <th scope="col">{{ 'customer.orders.date' | t }}</th>
                    <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                    <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                    <th scope="col">{{ 'customer.orders.total' | t }}</th>
                </tr>
                </thead>
                <tbody>
                {% for order in customer.orders %}
                    <tr>
                    <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                        <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                    </th>
                    <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                    <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                    <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                    <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% else %}

            <p>You haven't placed any orders yet.</p>

            {% endif %}
            {%- if paginate.pages > 1 -%}
            {% include 'pagination', paginate: paginate %}
            {%- endif -%}
        {% endpaginate %}
    </div>
    <div>
        <h2>Address</h2>
        {{ customer.default_address | format_address }}
        <p><a href="{{ routes.account_addresses_url }}" class="text-wc-black transition hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center wc-btn wc-btn-yellow uppercase text-sm lg:text-xl relative z-20 mt-4">View Addresses ({{ customer.addresses_count }})</a></p>
    </div>
</div>

<div class="max-w-1170 mx-auto py-14">
{% if customer.default_address %}
  <h2>Address</h2>
  <p>{{ customer.default_address.address1 }}</p>
  {% if customer.default_address.address2 != "" %}
    <p>{{ customer.default_address.address2 }}</p>
  {% endif %}
  <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
  <p>{{ customer.default_address.zip }}</p>
  <p>{{ customer.default_address.phone }}</p>
{% endif %}

<div id="customer_orders">
  <h2>Orders</h2>
  {% paginate customer.orders by 10 %}
  {% if customer.orders.size != 0 %}
    {% for order in customer.orders %}
      <!-- order details here -->
    {% endfor %}
  {% else %}
    <p>You haven't placed any orders yet.</p>
  {% endif %}
  {{ paginate | default_pagination }}
  {% endpaginate %}
</div>
</div>