<!-- /templates/customers/account.liquid -->

<div class="section-header text-center">
  <h1>My Account</h1>
  {{ 'Log out' | customer_logout_link | replace: '<a', '<a class="underline"' }}
</div>

<div class="container mx-auto pb-50px xct:pb-100px lg:flex lg:items-start xct:justify-between py-14">
  <div id="customer_orders">
      <h2>Orders</h2>
      {% paginate customer.orders by 10 %}
      {% if customer.orders.size != 0 %}
      <table class="responsive-table">
        <thead>
          <tr>
            <th scope="col">Order</th>
            <th scope="col">Date</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Fullfillment Status</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
        {% for order in customer.orders %}
          <!-- order details here -->
          <tr>
            <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
              <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
            </th>
            <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
            <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
            <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
            <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>You haven't placed any orders yet.</p>
      {% endif %}
      {{ paginate | default_pagination }}
      {% endpaginate %}
  </div>
  <div>
      <h2>Address</h2>
      {{ customer.default_address | format_address }}
      <!--<p><a href="{{ routes.account_addresses_url }}" class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center p-4 mt-6">View Addresses ({{ customer.addresses_count }})</a></p>-->
  </div>
</div>
<style>
table{
  width:100%;
  border-collapse:collapse;
  border-spacing:0
}
th,td{
  text-align:left;
  border:1px solid #bdbdbd;
  padding:10px 14px
}
@media only screen and (max-width: 767px){
  .responsive-table thead{
    display:none
  }
  .responsive-table th,.responsive-table td{
    float:left;
    clear:left;
    width:100%;
    text-align:right;
    padding:27.5px;
    border:0;
    margin:0
  }
  .responsive-table th:before,.responsive-table td:before{
    content:attr(data-label);
    float:left;
    text-align:center;
    font-size:12px;
    padding-right:10px;
    font-weight:400
  }
  .responsive-table__row+.responsive-table__row,tfoot>.responsive-table__row:first-child{
    position:relative;
    margin-top:10px;
    padding-top:55px
  }
  .responsive-table__row+.responsive-table__row:after,tfoot>.responsive-table__row:first-child:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:27.5px;
    right:27.5px;
    border-bottom:1px solid #bdbdbd
  }
}
</style>