<!-- /templates/customers/addresses.liquid -->

<div class="section-header text-center">
    <h2>Your Addresses</h2>
    <p><a href="{{ routes.account_url }}">Return to Account Details</Details></a></p>
</div>

<div class="section-form text-center" id="add-new-address">
    <div class="container mx-auto py-50px">
        <div class="form-control">
            {% form 'customer_address', customer.new_address %}

            {{ form.errors | default_errors }}

            <div class="lg:flex lg:justify-between">
                <div class="flex flex-col xct:w-full xct:mr-5">
                    <label for="first_name">First Name</label>
                    <input type="text" value="" name="address[first_name]" size="30" class="w-full" required/>
                </div>

                <div class="flex flex-col xct:w-full mb-5">
                    <label for="last_name">Last Name</label>
                    <input type="text" value="" name="address[last_name]" size="30" class="w-full" required/>
                </div>
            </div>

            <div class="flex flex-col mb-5">
                <label for="company">Company</label>
                <input type="text" value="" name="address[company]" class="w-full" />
            </div>

            <div class="flex flex-col mb-5">
                <label for="address1">Address 1</label>
                <input type="text" value="" name="address[address1]" required/>
            </div>

            <div class="flex flex-col mb-5">
                <label for="address2">Address 2</label>
                <input type="text" value="" name="address[address2]" />
            </div>

            <div class="lg:flex lg:justify-between">
                <div class="flex flex-col xct:w-full xct:mr-5">
                    <label for="city">City</label>
                    <input type="text" value="" name="address[city]" required/>
                </div>

                <div class="flex flex-col xct:w-full mb-5">

                    <!-- See docs for @shopify/theme-addresses to support Country and Province -->
                    <label for="country">Country</label>
                    <select name="address[country]" /></select>
                </div>
            </div>

            <div class="lg:flex lg:justify-between">
                <div class="flex flex-col xct:w-full xct:mr-5">
                    <label for="province">Province</label>
                    <select name="address[province]" /></select>
                </div>
                <div class="flex flex-col xct:w-full mb-5">
                    <label for="zip">Zip/Post Code</label>
                    <input type="text" value="" name="address[zip]" required/>
                </div>

            </div>

            <div class="flex flex-col mb-5">
                <label for="phone">Phone Number</label>
                <input type="tel" value="" name="address[phone]" required/>
            </div>

            <div class="flex mb-5">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">Set as default address</label>
            </div>

            <input type="submit" class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center p-4" value="Add a New Address">

            {% endform %}
        </div>

    </div>
</div>


<div class="section-form text-center" id="addresses">
    <div class="container mx-auto py-50px">
        <div class="form-control">
            {% comment %}
            List all customer addresses with a unique edit form.
            Also add pagination in case they have a large number of addresses
            {% endcomment %}
            <ul>
            {% for address in customer.addresses %}
                <li>
                    <div class="address text-center">
                    {% if address == customer.default_address %}
                        <h2>Default</h2>
                    {% endif %}

                        {{ address | format_address }}

                        <ul class="list--inline lg:flex lg:justify-center justify-center mt-5">
                            <li>
                                <button
                                    id="EditFormButton_{{ address.id }}"
                                    type="button"
                                    class="btn btn--small address-edit-toggle uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center p-4"
                                    data-form-id="{{ address.id }}"
                                    aria-owns="EditAddress_{{ address.id }}"
                                    aria-expanded="false"
                                >
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button
                                    type="button"
                                    class="btn btn--secondary btn--small address-delete uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center p-4"
                                    data-target="{{ address.url }}"
                                    data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                                >
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div id="EditAddress_{{ address.id }}" class="customer_address edit_address" style="display: none;">
                        {% form 'customer_address', address %}

                            <h2 class="py-50px">Edit Address</h2>

                            <div class="lg:flex lg:justify-between">
                                <div class="flex flex-col xct:w-full xct:mr-5">
                                    <label for="address_first_name_{{form.id}}">First Name</label>
                                    <input type="text" value="{{ form.first_name }}" id="address_first_name_{{form.id}}" name="address[first_name]" size="30" class="w-full" required/>
                                </div>

                                <div class="flex flex-col xct:w-full mb-5">
                                    <label for="address_last_name_{{form.id}}">Last Name</label>
                                    <input type="text" value="{{ form.last_name }}" id="address_last_name_{{form.id}}" name="address[last_name]" size="30" class="w-full" required/>
                                </div>
                            </div>

                            <div class="flex flex-col mb-5">
                                <label for="address_company_{{form.id}}">Company</label>
                                <input type="text" id="address_company_{{form.id}}" class="w-full" name="address[company]" value="{{form.company}}" size="40" />
                            </div>

                            <div class="flex flex-col mb-5">
                                <label for="address_address1_{{form.id}}">Address 1</label>
                                <input type="text" id="address_address1_{{form.id}}" name="address[address1]" value="{{form.address1}}" size="40" required/>
                            </div>

                            <div class="flex flex-col mb-5">
                                <label for="address_address2_{{form.id}}">Address 2</label>
                                <input type="text" id="address_address2_{{form.id}}" name="address[address2]" value="{{form.address2}}" size="40" />
                            </div>

                            <div class="flex flex-col mb-5">
                                <label for="address_city_{{form.id}}">City</label>
                                <input type="text" id="address_city_{{form.id}}" name="address[city]" value="{{form.city}}" required/>
                            </div>

                            <div class="flex flex-col mb-5">
                                <label for="address_country_{{form.id}}">Country</label>
                                <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ all_country_option_tags }}</select>
                            </div>

                            <div class="lg:flex lg:justify-between">
                                <div class="flex flex-col xct:w-full xct:mr-5">
                                    <label for="address_province_{{form.id}}">Province</label>
                                    <select id="address_province_{{form.id}}" name="address[province]" data-default="{{form.province}}"></select>
                                </div>
                                <div class="flex flex-col xct:w-full mb-5">
                                    <label for="address_zip_{{form.id}}">Zip/Post Code</label>
                                    <input type="text" id="address_zip_{{form.id}}" name="address[zip]" value="{{form.zip}}" required/>
                                </div>

                            </div>

                            <div class="flex flex-col mb-5">
                                <label for="address_phone_{{form.id}}">Phone Number</label>
                                <input type="text" id="address_phone_{{form.id}}" name="address[phone]" value="{{form.phone}}" size="40" required/>
                            </div>

                            <div class="flex mb-5">
                                {{ form.set_as_default_checkbox }}
                                <label for="address_default_address_{{form.id}}">Set as default address</label>
                            </div>

                            <ul class="list--inline lg:flex lg:justify-center justify-center mt-5">
                                <li><input type="submit" class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center p-4" value="Update Address"></li>
                                <li><button type="button" class="address-edit-toggle uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center p-4" data-form-id="{{ form.id }}">Cancel</button></li>
                            </ul>

                        {% endform %}
                    </div>
                </li>
            {% endfor %}
            </ul>

            {%- if paginate.pages > 1 -%}
                {% include 'pagination', paginate: paginate %}
            {%- endif -%}
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const editAddressToggles = document.querySelectorAll(".address-edit-toggle");
    const editAddressForm = document.querySelector(".edit_address");

    editAddressToggles.forEach(function(editAddressToggle, index) {
        editAddressToggle.addEventListener("click", function(event) {
            event.preventDefault();
            if (editAddressForm.style.display === "none") {
                editAddressForm.style.display = "block"; 
            } else {
                editAddressForm.style.display = "none";
            }
        });
     });

    const countrySelect = editAddressForm.querySelector("select[name='address[country]']");
    const defaultCountry = countrySelect.getAttribute("data-default");
    if (defaultCountry) {
        countrySelect.value = defaultCountry;
    }
});
</script>

<style>
    .section-form label{
        font-weight: 700;
        text-align: left;
    }
    .form-control select,
    .form-control input[type="tel"]{
        border: 2px solid #dadada;
        height: 50px;
        padding-left: 15px;
    }
    .form-control input[type="checkbox"]{
        margin-right: 10px;
    }
    #addresses .form-control > ul > li{
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    #addresses .list--inline{
        gap: 20px;
    }
    #addresses .list--inline button{
        min-width: 90px;
    }
</style>