<!-- /templates/customers/addresses.liquid -->

<div class="section-header text-center">
    <h2>Your Addresses</h2>
    <p><a href="{{ routes.account_url }}">Return to Account Details</Details></a></p>
</div>

<div class="section-form text-center" id="add-new-address">
    <div class="container mx-auto py-50px">
        <div class="form-control">
            {% form 'customer_address', customer.new_address %}

            {{ form.errors | default_errors }}

            <div class="lg:flex lg:justify-between">
                <div class="flex flex-col xct:w-full xct:mr-5">
                    <label for="first_name">First Name</label>
                    <input type="text" value="" name="address[first_name]" size="30" class="w-full" required/>
                </div>

                <div class="flex flex-col xct:w-full mb-5">
                    <label for="last_name">Last Name</label>
                    <input type="text" value="" name="address[last_name]" size="30" class="w-full" required/>
                </div>
            </div>

            <div class="flex flex-col mb-5">
                <label for="company">Company</label>
                <input type="text" value="" name="address[company]" class="w-full" />
            </div>

            <div class="flex flex-col mb-5">
                <label for="address1">Address 1</label>
                <input type="text" value="" name="address[address1]" required/>
            </div>

            <div class="flex flex-col mb-5">
                <label for="address2">Address 2</label>
                <input type="text" value="" name="address[address2]" />
            </div>

            <div class="lg:flex lg:justify-between">
                <div class="flex flex-col xct:w-full xct:mr-5">
                    <label for="city">City</label>
                    <input type="text" value="" name="address[city]" required/>
                </div>

                <div class="flex flex-col xct:w-full mb-5">

                    <!-- See docs for @shopify/theme-addresses to support Country and Province -->
                    <label for="country">Country</label>
                    <select name="address[country]" /></select>
                </div>
            </div>

            <div class="lg:flex lg:justify-between">
                <div class="flex flex-col xct:w-full xct:mr-5">
                    <label for="province">Province</label>
                    <select name="address[province]" /></select>
                </div>
                <div class="flex flex-col xct:w-full mb-5">
                    <label for="zip">Zip/Post Code</label>
                    <input type="text" value="" name="address[zip]" required/>
                </div>

            </div>

            <div class="flex flex-col mb-5">
                <label for="phone">Phone Number</label>
                <input type="tel" value="" name="address[phone]" required/>
            </div>

            <div class="flex mb-5">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">Set as default address</label>
            </div>

            <input type="submit" class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center p-4" value="Add a New Address">

            {% endform %}
        </div>

    </div>
</div>


<div class="section-form text-center" id="addresses">
    <div class="container mx-auto py-50px">
        <div class="form-control">
            {% comment %}
            List all customer addresses with a unique edit form.
            Also add pagination in case they have a large number of addresses
            {% endcomment %}
            <ul>
            {% for address in customer.addresses %}
                <li>
                    <div class="address text-center">
                    {% if address == customer.default_address %}
                        <h2>Default</h2>
                    {% endif %}

                        {{ address | format_address }}

                        <ul class="list--inline lg:flex lg:justify-center justify-center mt-5">
                            <li>
                                <button
                                    id="EditFormButton_{{ address.id }}"
                                    type="button"
                                    class="btn btn--small address-edit-toggle uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center p-4"
                                    data-form-id="{{ address.id }}"
                                    aria-owns="EditAddress_{{ address.id }}"
                                    aria-expanded="false"
                                >
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button
                                    type="button"
                                    class="btn btn--secondary btn--small address-delete uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center p-4"
                                    data-target="{{ address.url }}"
                                    data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                                >
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div id="EditAddress_{{ address.id }}" class="form-vertical hide">
                        {% form 'customer_address', address %}

                            <h2>{{ 'customer.addresses.edit_address' | t }}</h2>

                            <div class="grid">
                            <div class="grid__item medium-up--one-half">
                                <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                            </div>

                            <div class="grid__item medium-up--one-half">
                                <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                            </div>
                            </div>

                            <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                            <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization">

                            <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                            <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">

                            <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                            <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">

                            <div class="grid">
                            <div class="grid__item medium-up--one-half">
                                <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
                            </div>
                            <div class="grid__item medium-up--one-half">
                                <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                                <select id="AddressCountry_{{ form.id }}" class="address-country-option" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
                            </div>
                            </div>

                            <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                            <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                            <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
                            </div>

                            <div class="grid">
                            <div class="grid__item">
                                <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                            </div>

                            <div class="grid__item">
                                <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
                            </div>
                            </div>

                            <div class="text-center">
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>

                            <div><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"></div>
                            <div><button type="button" class="text-link address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button></div>
                            </div>

                        {% endform %}
                        <hr>
                    </div>
                </li>
            {% endfor %}
            </ul>

            {%- if paginate.pages > 1 -%}
                {% include 'pagination', paginate: paginate %}
            {%- endif -%}
        </div>
    </div>
</div>

<style>
    .section-form label{
        font-weight: 700;
        text-align: left;
    }
    .form-control select,
    .form-control input[type="tel"]{
        border: 2px solid #dadada;
        height: 50px;
        padding-left: 15px;
    }
    .form-control input[type="checkbox"]{
        margin-right: 10px;
    }
    #addresses .form-control > ul > li{
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e1e1e1;
    }
    #addresses .list--inline{
        gap: 20px;
    }
    #addresses .list--inline button{
        min-width: 90px;
    }
</style>