<!-- /templates/customers/order.liquid -->

<div class="section-header text-center">
    <h1>My Account</h1>
    <p><a href="{{ routes.account_url }}">Return to Account</a></p>
</div>

<div class="container mx-auto pb-50px xct:pb-100px lg:flex lg:items-start justify-between py-14">
    <div id="customer_order">
        <h2>Order {{ order.name }}</h2>
        {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
        <p>Placed on {{ order_date }}</p>
        <table class="responsive-table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">SKU</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
            {% for line_item in order.line_items %}
              <tr>
                <td data-label="Product">{{ line_item.title | link_to: line_item.product.url }}</td>
                <td data-label="SKU">{{ line_item.sku }}</td>
                <td data-label="Price">{{ line_item.original_price | money }}</td>
                <td data-label="Quantity">{{ line_item.quantity }}</td>
                <td data-label="Total">{{ line_item.line_price | money }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h2>Billing Address</h2>
        <p><span>Payment Status:</span> <span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>
        <p>{{ order.billing_address.name }}</p>
        <p>{{ order.billing_address.company }}</p>
        <p>{{ order.billing_address.street }}</p>
        <p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
        <p>{{ order.billing_address.country }} {{ order.billing_address.zip }}</p>
        <p>{{ order.billing_address.phone }}</p>
        <p>&nbsp;</p>
        <h2>Shipping Address</h2>
        <p><span>Fulfillment Status:</span> <span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>
        <p>{{ order.shipping_address.name }}</p>
        <p>{{ order.shipping_address.company }}</p>
        <p>{{ order.shipping_address.street }}</p>
        <p>{{ order.shipping_address.city }}, {{ order.shipping_address.province }}</p>
        <p>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</p>
        <p>{{ order.shipping_address.phone }}</p>
    </div>
</div>
<style>
#customer_order{
    margin-bottom: 60px;
}
table{
    width:100%;
    border-collapse:collapse;
    border-spacing:0
}
th,td{
    text-align:left;
    border:1px solid #bdbdbd;
    padding:10px 14px
}
@media only screen and (max-width: 1169px){
    .section-header{
    margin-top: 60px;
    }
}
@media only screen and (max-width: 767px){
    .responsive-table thead{
    display:none
    }
    .responsive-table th,.responsive-table td{
    float:left;
    clear:left;
    width:100%;
    text-align:right;
    padding:27.5px 0;
    border:0;
    margin:0
    }
    .responsive-table th:before,.responsive-table td:before{
    content:attr(data-label);
    float:left;
    text-align:center;
    font-size:12px;
    padding-right:10px;
    font-weight:400
    }
    .responsive-table__row+.responsive-table__row,tfoot>.responsive-table__row:first-child{
    position:relative;
    margin-top:10px;
    padding-top:55px
    }
    .responsive-table__row+.responsive-table__row:after,tfoot>.responsive-table__row:first-child:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:27.5px;
    right:27.5px;
    border-bottom:1px solid #bdbdbd
    }
}
</style>