<div class="flex flex-col items-center my-8">
  {% if section.settings.title != blank %}
      <h1 class="text-3xl uppercase pb-6">{{ section.settings.title }}</h1>
      <div class="left-content--p text-lg"><p>{{ section.settings.paragraph }}</p></div>
  {% endif %}
  <style>
    .form-control label {
        font-weight: 700;
    }

    .form-control input,
    .form-control textarea {
        border: 2px solid #dadada;
        padding: 11px 20px;
        width: 100%;
    }

    .form-control div {
        margin-top: 10px;
    }

    .form-control textarea {
        height: 215px;
    }

    .form-control button svg {
        max-width: 12px;
        margin-left: 10px;
    }

    .form-control button {
        height: 55px;
    }

    .form-control button:hover svg .st0 {
        fill: #fff;
    }
    .left-content--p p{
            max-width: 500px;
    text-align: center;
    }
    @media (min-width: 1024px) {
    .lg\:mt-0 {
        min-width: 500px !important;
    }
}
  </style>

      <div class="contact-page-form-container mt-12 lg:mt-0 w-full">
    <h3 class="text-3xl uppercase pb-6 border-b-3 border-wc-black">{{ section.settings.form_title }}</h3>
    <div class="mt-5">
       {% form 'contact' %}
            {% if form.errors %}
                <div class="border p-5">
                    <div class="flex flex-row items-center w-full my-3">
                        <div class="text-red-500">
                            {% render 'icon-failed' %}
                        </div>
                        <div class="text-sm font-medium ml-3">
                            Oh no! Your message is not sent
                        </div>
                    </div>
                    <ul class="px-4 mb-3 ml-7 list-decimal">
                        {% for error in form.errors %}
                            <li>
                                <span>{{ form.errors.messages[error] }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% elsif form.posted_successfully? %}
                <div class="success-message flex flex-row items-center w-full my-3 p-5">
                    <div class="text-sm font-medium ml-3">Your message is sent successfully</div>
                </div>
                <script>
                  window.dataLayer = window.dataLayer || [];
                  window.dataLayer.push({
                     'event': 'Contact_Form_Submit'
                   });
                </script>
            {% endif %}

            <div class="wc-custom-form">
                <div class="form-control name-control lg:justify-between">
                    <div class="flex flex-col xct:w-full xct:mr-5">
                        <label for="contact_first_name">Name<span>*</span></label>
                        <input type="text" required name="contact[first_name]" id="contact_first_name" placeholder="Enter your Name">
                    </div>
                     <div class="flex flex-col xct:w-full">
                        <label for="contact_phone">Phone</label>
                        <input type="text" name="contact[phone]" id="contact_phone" placeholder="04 4444 4444">
                    </div>
                </div>
                <div class="form-control email-control lg:justify-between">
                    <div class="flex flex-col xct:w-full xct:mr-5">
                        <label for="contact_email">Email<span>*</span></label>
                        <input type="email" required name="contact[email]" id="contact_email" placeholder="sample@email.com">
                    </div>
                     <div class="flex flex-col xct:w-full xct:mr-5">
                        <label for="contact_company_name">Company Name<span>*</span></label>
                        <input type="text" required name="contact[company_name]" id="contact_company_name" placeholder="Enter your Company Name">
                    </div>
                </div>
               
                <div class="form-control submit-control xct:mt-11">
                    <div>
                        <button type="submit" value="Submit" class="flex items-center justify-center bg-wc-yellow w-full uppercase font-euro font-extrabold transition hover:bg-wc-black hover:text-white">{{ section.settings.btn_text }} {% render 'icon-chevron-right' %}</button>
                    </div>
                </div>
            </div>      
        {% endform %}
</div>

{% schema %}
{
  "name": "Contact Form Bulk",
  "settings": [
      {
          "type": "text",
          "id": "title",
          "label": "Title"
      },
      {
          "type": "textarea",
          "id": "paragraph",
          "label": "Textarea"
      },
      {
        "type":"text",
        "id":"btn_text",
        "label":"Form Button Text",
        "default": "Send Message"
     }
  ],
  "presets": [
      {
          "name": "Contact Form Bulk"
      }
  ]
}
{% endschema %}