<style>
  .search-container {
    line-height: 0;
  }

  .search-form-container {
    top: -10px;
    left: -160px;
  }

  .search-form-container button {
    right: 20px;
    top: 9px;
  }

  .search-container input[type=search] {
    height: 35px;
    width: 185px;
  }

  .modal-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 999;
    transition: height 0s ease-out 1s;
  }

  .modal-wrapper.active {
    height: 100%;
    transition: height 0s ease-in 0s;
  }

  .modal-wrapper .backdrop {
      visibility: hidden;
      opacity: 0;
      transition: all .6s ease-in-out;
  }

  .backdrop-shaded {
      background: rgba(0,0,0,.9);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
  }

  .backdrop {
    position: fixed;
    z-index: 998;
  }

  .modal-wrapper.active .backdrop {
    visibility: visible;
    opacity: 1;
  }

  .modal-panel {
    position: relative;
    z-index: 999;
    overflow: auto;
    opacity: 0;
    transform: scale(.8);
    transition: all .3s ease-in-out;
    max-width: 530px;
  }

  .modal-panel.active {
    opacity: 1;
    transform: none;
  }

  .tab-wrapper label {
    border-bottom: 3px solid transparent
  }

  .tab-wrapper label.active {
    border-bottom: 3px solid #000
  }

  .btn-w-dropdown .submenu {
    display: none
  }

  .btn-w-dropdown:hover .submenu {
    display: block
  }

  @media screen and (min-width: 1170px) {

    .sticky-nav{
      padding-top: 167px;
    }
    .header-navigation .container,
    .header-navigation .logo-container img{
      transition: 0.2s ease-in-out all;
    }
    .header-navigation.fixed .container{
      padding-top: 0;
      padding-bottom: 0;
    }
    .header-navigation.fixed .logo-container img{
      width: 280px;
      margin-left: 45px;
    }
    
    .logo-container {
      position: relative;
      bottom: -50px;
      background: white;
      padding: 20px;
    }

    .logo-container img {
      width: 370px;
    }

    .top-menu-icons {
      max-height: 70px;
    }

    .header-bottom-bar {
      padding-bottom: 25px;
    }
    .top-menu-container {
      margin-right: 62px;
    }
    .bottom-bar-div {
      width: 380px;
    }

    .bottom-bar-div:last-child {
      width: 355px;
    }

    .header-bottom-bar .grandchild {
      right: 0;
      position: absolute;
    }
  }

  @media screen and (min-width: 1170px) and (max-width: 1279px) {
    .logo-container img {
      width: 335px;
    }
  }
</style>
{{ 'login-signup.css' | asset_url | stylesheet_tag }}
<div class="bg-white transition duration-500 ease-out header-navigation" x-data="{ mobileMenuOpen: false, searchBarOpen: false, modal: false, atTop: false }"
:class="{ 'fixed shadow-lg top-0 left-0 w-full z-[60]': atTop, 'relative': !atTop }"
@scroll.window="atTop = (window.pageYOffset > 300 ) ? true : false"
>
  <div class="mx-auto container pt-6 py-4">
    <div class="flex top-menu-icons items-center xct:justify-between">
      <!-- TOPBAR MENU -->
      <nav class="hidden xct:flex xct:max-w-328 xct:w-full xct:justify-between xct:mr-44 top-menu-container">
        {% for link in section.settings.top_bar_menu.links %} 
          {% if link.links != blank %}
            {% assign link_handle = link.handle | replace: '-', '_' %}
            <div class="relative" x-data="{ {{ link_handle }}: false }">
              <button x-on:click="{{link_handle}} = !{{link_handle}}" class="inline-flex items-center">
                {{ link.title }}
                {% render 'icon-dropdown' %}
              </button>
              <div
                x-transition:enter="transition ease-out duration-300" 
                x-transition:enter-start="opacity-0 translate-y-3"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition ease-out duration-300" 
                x-transition:leave-start="opacity-100 translate-y-0"
                x-transition:leave-end="opacity-0 translate-y-3"
                x-show="{{link_handle}}" @click.away="{{link_handle}} = false"
                class="absolute z-10 px-2 transform w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
                <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                  <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    {% for childlink in link.links %}
                      <a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100" href={{ childlink.url }}>
                        <div class="ml-4">
                          <p class="text-wc-black text-xs font-semibold">{{ childlink.title }}</p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <a class="text-xs text-wc-black font-semibold hover:text-gray-700 uppercase px-1" href="{{ link.url }}"> {{ link.title }} </a>
          {% endif %}
          
        {% endfor %}
      </nav>
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex mr-auto logo-container z-10">
        {% if section.settings.logo != blank %}
          {% assign logo = section.settings.logo | img_url: 'master' %}
          <a href="/">
            <img src="{{ logo }}" loading="lazy" alt="{{ logo.alt }}" width="{{ logo.width }}"
            height="{{ logo.height }}" class="w-150 xct:w-56">
          </a>
          {% else %}
          <h1 class="text-xl font-bold truncate">
            {{ shop.name }}
          </h1>
        {% endif %}
      </div>

       <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
   
      <div class="flex items-center xct:max-w-120 xct:w-full">
        <div class="relative search-container ml-5 xct:ml-8">
          <button x-on:click="searchBarOpen = true" type="button" class="hidden xct:inline-flex items-center justify-center focus:outline-none">
            {% render 'icon-search' %}
          </button>
          <div x-show="searchBarOpen" x-trap="searchBarOpen" class="absolute search-form-container" @click.away="searchBarOpen = false">
            <form action="{{  routes.search_url }}" method="GET" class="border relative">
              <input type="search" name="q" class="outline-none pl-3">
              <button type="submit" class="hidden absolute xct:inline-flex items-center justify-center focus:outline-none">
                {% render 'icon-search' %}
              </button>
            </form>
          </div>
        </div>
        
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="{{ routes.account_url }}" class="ml-5 xct:ml-8">
              {% render 'icon-account' %}
            </a>
            {% else %}
            <button type="button" class="ml-5 xct:ml-8 inline-flex items-center justify-center focus:outline-none" @click="modal = !modal" :aria-expanded="modal ? 'true' : 'false'">
              {% render 'icon-account' %}
            </button>
          {% endif %} 
        {% endif %}
        
        <a href="{{ routes.cart_url }}" class="ml-5 xct:ml-8 relative">
          {% render 'icon-cart' %}
            {% if cart.item_count > 0 %}
              <span class="flex items-center justify-center text-wc-black text-xs bg-wc-yellow absolute w-5 h-5 rounded-full font-medium -top-2 -left-1">{{ cart.item_count }}</span>
            {% endif %}
        </a>
        <button x-on:click="mobileMenuOpen = true" type="button" class="bg-white ml-6 inline-flex items-center justify-center focus:outline-none xct:hidden">
          {% render 'icon-menu' %}
        </button>
      </div>

    </div>

    <!-- MOBILE MENU CONTAINER -->
    <div x-show="mobileMenuOpen" class="absolute z-50 top-0 inset-x-0 p-2 transform origin-top-left xct:hidden">
      <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
        <div class="p-5 divide-y-2 divide-gray-50">
          <!-- MOBILE MENU HEADER TITLE AND CLOSE BUTTON -->
          <div class="flex items-center justify-between pb-3">
            <div>
              <h1 class="text-lg text-gray-500">{{ section.settings.mobile_menu_title }}</h1>
            </div>
            <div class="-mr-2">
              <button x-on:click="mobileMenuOpen = false" type="button" class="bg-white rounded-md p-2 text-gray-500">
                {% render 'icon-close' %}
              </button>
            </div>
          </div>
          <!-- NAVIGATION LINKS FOR MOBILE -->
          <div class="pt-3">
            <nav class="grid gap-y-7">
              {% for link in section.settings.mobile_menu.links %}
                {% if link.links != blank %}
                  {% assign mobile_link_handle = link.handle | replace: '-', '_' %}
                  <div class="relative" x-data="{ {{ mobile_link_handle }}: false }">
                    <button x-on:click="{{ mobile_link_handle }} = !{{ mobile_link_handle }}" class="text-base text-gray-500 hover:text-gray-900 flex items-center justify-between w-full">
                      <div>{{ link.title }}</div>
                      {% render 'icon-dropdown' %}
                    </button>
                    <div x-show={{ mobile_link_handle }} class="grid gap-y-7 py-3">
                      {% for childlink in link.links %}
                        <a 
                          href="{{ childlink.url }}" 
                          class="-m-3 p-3 mt-2 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50">
                            <span class="ml-3">{{ childlink.title }}</span>
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                  {% else %}
                  <a href="{{ link.url }}">{{ link.title }}</a>
                {% endif %}
              {% endfor %}
            </nav>  
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="hidden lg:block">
    {% render 'stripe-pattern' %}
  </div>


  
  <!-- BOTTOM BAR -->
<div class="hidden xct:block relative header-bottom-bar border-t border-btm-bar">
  <div class="mx-auto container">
    <nav class="flex justify-between items-center h-65">
      {% for link in section.settings.menu.links %} 
      {% assign r = forloop.index0 | modulo: 3  %}
        {% if r == 0 %}
          <div class="bottom-bar-div h-65 items-center flex justify-between">
        {% endif %}
        {% if link.links != blank %}
          {% assign link_handle = link.handle | replace: '-', '_' %}
          <div class="relative btn-w-dropdown" x-data="{ {{ link_handle }}: false, timeout: null }" x-on:mouseenter="{{link_handle}} = true; clearTimeout(timeout)" x-on:mouseleave="timeout = setTimeout(() => {{ link_handle }} = false, 100)">
            <button class="inline-flex items-center text-sm text-wc-black font-bold hover:text-gray-700 leading-none uppercase">
              {{ link.title }}
              {% render 'icon-dropdown' %}
            </button>
            <div
              x-transition:enter="transition ease-out duration-300" 
              x-transition:enter-start="opacity-0 translate-y-3"
              x-transition:enter-end="opacity-100 translate-y-0"
              x-transition:leave="transition ease-out duration-300" 
              x-transition:leave-start="opacity-100 translate-y-0"
              x-transition:leave-end="opacity-0 translate-y-3"
              x-show="{{link_handle}}" x-on:mouseleave="{{link_handle}} = false"
              class="absolute z-50 px-2 transform w-screen max-w-300 sm:px-0 submenu"
              :class="{'block': {{link_handle}}}">
              <div class="shadow-lg border ring-black ring-opacity-5 rounded-lg">
                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                  {% for childlink in link.links %}
                    {% assign child_link_handle = childlink.handle | replace: '-', '_' %}
                    {% if childlink.links != blank %}
                      <div class="relative btn-w-dropdown" x-data="{ {{ child_link_handle }}: false, timeout: null }" x-on:mouseenter="{{child_link_handle}} = true; clearTimeout(timeout)" x-on:mouseleave="timeout = setTimeout(() => {{ child_link_handle }} = false, 100)">
                        <a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100" href={{ childlink.url }}>
                          <div class="ml-4">
                            <p class="text-wc-black text-sm font-bold">{{ childlink.title }}</p>
                          </div>
                          {% render 'icon-dropdown' %}
                        </a>
                        <div
                          x-transition:enter="transition ease-out duration-300" 
                          x-transition:enter-start="opacity-0 translate-y-3"
                          x-transition:enter-end="opacity-100 translate-y-0"
                          x-transition:leave="transition ease-out duration-300" 
                          x-transition:leave-start="opacity-100 translate-y-0"
                          x-transition:leave-end="opacity-0 translate-y-3"
                          x-show="{{child_link_handle}}" x-on:mouseleave="{{child_link_handle}} = false"
                          class="absolute z-50 px-2 transform w-screen max-w-300 sm:px-0 submenu"
                          :class="{'block': {{child_link_handle}}}">
                          <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden grandchild rounded-lg">
                            <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                              {% for subchildlink in childlink.links %}
                                <a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100" href={{ subchildlink.url }}>
                                  <div class="ml-4">
                                    <p class="text-wc-black text-sm font-bold">{{ subchildlink.title }}</p>
                                  </div>
                                </a>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100" href={{ childlink.url }}>
                        <div class="ml-4">
                          <p class="text-wc-black text-sm font-bold">{{ childlink.title }}</p>
                        </div>
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <a class="text-sm text-wc-black leading-none font-bold hover:text-gray-700 uppercase" href="{{ link.url }}"> {{ link.title }} </a>
        {% endif %}
        {% if r == 2 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>


  <!-- MODAL -->
  <div class="modal-wrapper p-4" :class="{ 'active': modal }">
    <div class="backdrop backdrop-shaded top-0 left-0 bottom-0 right-0" @click="modal = false"></div>
    <div class="modal-panel w-full bg-white relative py-50px px-4" :class="{ 'active': modal }" id="modal" x-init="$watch('modal', toggleOverflow)">
      <button type="button" @click="modal = false" class="absolute top-4 right-5">{% render 'icon-close' %}</button>
      <div class="tab-wrapper"  x-data="{ activeTab:  0, agreed: false }">
        <div class="flex justify-around">
          <label
            @click="activeTab = 0"
            class="tab-control uppercase font-euro font-extrabold text-xl"
            :class="{ 'active': activeTab === 0 }"
          >login</label>
          <label
            @click="activeTab = 1"
            class="tab-control uppercase font-euro font-extrabold text-xl"
            :class="{ 'active': activeTab === 1 }"
          >signup</label>
        </div>
        <div class="tab-panel" :class="{ 'active': activeTab === 0 }" x-show.transition.in.opacity.duration.600="activeTab === 0">
          {% form 'customer_login' %}
            {{ form.errors | default_errors }}
            <div class="form-control flex flex-col">
              <label class="font-bold" for="customer_email">Email Address</label>
              <input type="email" name="customer[email]" id="customer_email" size="30" required placeholder="Enter first name" />
            </div>
            <div class="form-control flex flex-col mt-3 mb-6">
              <label class="font-bold" for="password">Password</label>
              <input type="password" value="" name="customer[password]" id="password" size="30" required placeholder="Enter password" />
            </div>
            <div class="form-control form-submit-container">
              <button type="submit" class="flex items-center justify-center bg-wc-yellow text-wc-black uppercase font-euro font-extrabold w-full hover:bg-wc-black hover:text-white transition lg:text-xl">Sign in {% render 'icon-chevron-right' %}</button>
            </div>
          {% endform %}
        </div>
        <div class="tab-panel" :class="{ 'active': activeTab === 1 }" x-show.transition.in.opacity.duration.600="activeTab === 1">
          {% form 'create_customer' %}

            {{ form.errors | default_errors }}

            <div class="form-control flex flex-col">
              <label class="font-bold" for="first_name">First Name</label>
              <input type="text" value="" name="customer[first_name]" id="first_name" size="30" required placeholder="Enter first name" />
            </div>

            <div class="form-control flex flex-col mt-3">
              <label class="font-bold" for="last_name">Last Name</label>
              <input type="text" value="" name="customer[last_name]" id="last_name" size="30" required placeholder="Enter second name" />
            </div>

            <div class="form-control flex flex-col mt-3">
              <label class="font-bold" for="email">Email Address</label>
              <input type="email" value="" name="customer[email]" id="email" size="30" required placeholder="Enter email address" />
            </div>

            <div class="form-control flex flex-col mt-3">
              <label class="font-bold" for="password">Password</label>
              <input type="password" value="" name="customer[password]" id="password" size="30" required placeholder="Enter password" />
            </div>

            <div class="form-control form-checkbox mt-3 mb-6">
              <input type="checkbox" id="checkbox" x-model="agreed">
              <label for="checkbox">I agree to the <a href="{{ section.settings.terms_link }}">Terms of Service</a> and <a href="{{ section.settings.privacy_policy_link }}">Privacy Policy</a></label>
            </div>

            <div class="form-control form-submit-container">
              <button type="submit" class="flex items-center justify-center bg-wc-yellow text-wc-black uppercase font-euro font-extrabold w-full hover:bg-wc-black hover:text-white transition lg:text-xl" :class="{ 'grayscale': !agreed }" x-bind:disabled="!agreed">Create Account {% render 'icon-chevron-right' %}</button>
            </div>

          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.toggleOverflow = function(modal) {
    if(modal) {
      bodyScrollLock.disableBodyScroll(document.getElementById('modal')) 
    } else {
      bodyScrollLock.enableBodyScroll(document.getElementById('modal'))
    } 
  }
</script>
{% schema %} 
{ 
  "name": "Header", 
  "settings": [
    {
      "type": "text",
      "id": "mobile_menu_title",
      "default": "Menu",
      "label": "Mobile Menu Title"
    },
    { 
      "type": "link_list", 
      "id": "mobile_menu", 
      "label": "Mobile Navigation Menu" 
    },
    { 
      "type": "link_list", 
      "id": "menu", 
      "label": "Bottom Bar Menu" 
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Top Bar Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "url",
      "id": "privacy_policy_link",
      "label": "Privacy Policy Link"
    },
    {
      "type": "url",
      "id": "terms_link",
      "label": "Terms & Conditions Link"
    }
  ] 
} 

{% endschema %}
