<style>
  .mobile-hero {
    min-height: 616px;
  }
  .mobile-hero-texts-btn .wc-btn {
    width: 181px;
    height: 64px;
  }

  .mobile-hero-texts-btn .wc-btn svg,
  .hero-slider .wc-btn svg {
    width: 16px;
    fill: #fff;
    margin-left: 10px;
  }

  .mobile-hero-text h1,
  .desktop-hero-texts-btn h1 {
    font-size: 50px;
    color: #fff;
    background-color: #101010;
    line-height: 52px;
    display: inline;
    padding-right: 10px;
    white-space: pre-wrap;
    box-shadow: -10px 0 0 #101010;
    padding-top: 10px;
  }

  .mobile-hero-text span,
  .desktop-hero-texts-btn span.small_text {
    font-size: 13px;
    color: var(--yellow);
    font-family: 'Eurostile';
    font-weight: 800;
    background-color: #101010;
    padding: 5px 10px 7px 5px;
    box-shadow: -10px 0 0 #101010;
  }

  .mobile-hero-texts-btn .wc-btn {
    margin-top: 20px;
    margin-left: -8px;
  }

  .mobile-hero-texts-btn {
    padding-left: 30px;
  }

  .hero-slider {
    background-color: var(--yellow);
    min-height: 625px;
    max-width: 1920px;
  }

  .hero-slider .swiper-wrapper img {
    width: 100%;
    object-fit: cover;
  }

  .container-height,
  .hero-slider .swiper-wrapper img {
    height: 625px;
  }

  .desktop-hero-texts-btn h1 {
    font-size: 82px;
    line-height: 80px;
    padding-right: 20px;
    box-shadow: -20px 0 0 #101010;
  }

  .desktop-hero-texts-btn span.small_text {
    font-size: 22px;
    letter-spacing: 2px;
    box-shadow: -20px 0 0 #101010;
  }

  .desktop-hero-texts-btn h1 {
    font-size: 50px;
    color: #fff;
    line-height: 52px;
    display: inline-block; /* Use inline-block instead of inline */
    white-space: pre-wrap;
}

.desktop-hero-texts-btn h1 span {
    background-color: #101010;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: -10px 0 0 #101010; /* Apply the box-shadow to the span */
}

  .desktop-hero-texts-btn {
    padding-top: 100px;
    padding-left: 20px;
  }

  .hero-slider .wc-btn:hover {
    opacity: 0.99;
  }

  .hero-nav-inner {
    max-width: 160px;
  }

  .next-hero,
  .prev-hero {
    width: 70px;
    height: 70px;
  }

  .next-hero svg,
  .prev-hero svg{ 
    width: 28px;
  }

  .hero-slider .wc-btn {
    width: 200px;
    height: 64px;
  }

  .slide-number {
    font-weight: 700;
    top: 115px;
  }
  
  .desktop-right-text .sub,
  .slide-number {
    font-family: 'Eurostile';
  }

  .desktop-right-text .sub {
    font-weight: 800;
  }

  .desktop-right-text .sup {
    font-size: 14px;
  }

  .desktop-right-text h2 {
    font-size: 37px;
  }

  .desktop-right-text:before {
    content: '';
    position: absolute;
    display: block;
    width: 44px;
    height: 4px;
    background: #101010;
    top: -23px;
  }

  .desktop-right-text {
    bottom: 160px;
    right: 0;
  }

  .hero-slider .wc-btn {
    right: 65px;
    bottom: 65px;
  }

  .hero-nav {
    transform: translateY(-135px);
    z-index: 3;
  }


  @media screen and (min-width: 390px) {
    .mobile-hero-text h1 {
      font-size: 58px;
    }
  }

  @media screen and (min-width: 500px) {
    .mobile-hero > img {
      object-fit: cover;
      width: 100%;
      height: 616px;
    }
  }
</style>
<!-- MOBILE HERO -->
<div class="mobile-hero relative flex items-center xct:hidden">
  <img src="{{ section.settings.mobile_hero_image | img_url: 'master'  }}" class="absolute top-0 left-0" alt="{{ section.settings.mobile_hero_image.alt }}">
  <div class="mobile-hero-texts-btn relative z-10">
    {% if section.settings.mobile_hero_title %}
    <div class="mobile-hero-text uppercase">
      {{ section.settings.mobile_hero_title }}
    </div> 
    {% endif %}
    {% if section.settings.mobile_button_title %}
      <a href="{{ section.settings.mobile_button_link }}" class="bg-wc-black text-white transition flex items-center justify-center wc-btn uppercase lg:text-xl">
        {{ section.settings.mobile_button_title }} {% render 'icon-chevron-right' %}
      </a>
    {% endif %}
  </div>
</div>
<!-- DESKTOP HERO -->
<div class="hidden xct:block hero-slider mx-auto overflow-hidden relative">
  <div class="swiper-wrapper">
    {% assign counter = 0 %}
      {% for block in section.blocks %}
        {% assign counter = counter | plus: 1 %}
        {% if block.type == 'hero_slider' %}
          <div class="relative swiper-slide">
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" class="absolute top-0 left-0">
            <div class="container container-height mx-auto relative">
              <p class="slide-number absolute right-0 transform -rotate-90">0{{ counter }} / 0{{ section.blocks.size }}</p>
              <div class="desktop-hero-texts-btn uppercase">
                {% if block.settings.slide_title != blank %}
                  <div class="desktop-hero-text">
                    {{ block.settings.slide_title }}
                  </div>
                {% endif %}
              </div>
              {% if block.settings.slide_right_text != blank %}
                <div class="desktop-right-text uppercase absolute right-0">
                  {{ block.settings.slide_right_text }}
                </div>
              {% endif %}
              {% if block.settings.button_title != blank %}
                <a href="{{ block.settings.slide_button_url }}" class="bg-wc-black text-white transition flex items-center justify-center wc-btn uppercase lg:text-xl absolute">
                  {{ block.settings.button_title }} {% render 'icon-chevron-right' %}
                </a>
              {% endif %}
            </div>
          </div>   
        {% endif %}
      {% endfor %}
  </div>
  <div class="hero-nav container mx-auto relative">
    <div class="hero-nav-inner z-20 flex justify-between absolute w-full">
      <div class="prev-hero w-6 border border-wc-black flex items-center justify-center">
        {% render 'icon-chevron-left' %}
      </div>
      <div class="next-hero w-6 border border-wc-black flex items-center justify-center">
        {% render 'icon-chevron-right' %}
      </div>
    </div>
  </div>
</div>
<script>
  const heroSlider = new Swiper('.hero-slider', {
     slidesPerView: 1,
     loop: true,
     navigation: {
       nextEl: '.next-hero',
       prevEl: '.prev-hero',
     },
 
   });
</script>
{% schema %} 
{
  "name":"Home Hero",
  "tag":"section",
  "class":"home-hero",
  "max_blocks":3,
  "settings":[
     {
        "type":"html",
        "id":"mobile_hero_title",
        "label":"Mobile Hero Title"
     },
     {
        "type":"text",
        "id":"mobile_button_title",
        "label":"Mobile Hero Button Title"
     },
     {
        "type":"url",
        "id":"mobile_button_link",
        "label":"Mobile Hero Button Title"
     },
     {
        "type":"image_picker",
        "id":"mobile_hero_image",
        "label":"Mobile Hero Image"
     }
  ],
  "blocks":[
     {
        "name":"Hero Slider",
        "type":"hero_slider",
        "settings":[
           {
              "type":"image_picker",
              "id":"image",
              "label":"Image"
           },
           {
              "type":"html",
              "id":"slide_title",
              "label":"Slide Title"
           },
           {
              "type":"html",
              "id":"slide_right_text",
              "label":"Slide Right Texts"
           },
           {
              "type":"text",
              "id":"button_title",
              "label":"Slide Button Title"
           },
           {
              "type":"url",
              "id":"slide_button_url",
              "label":"Slide Button Link"
           }
        ]
     }
  ]
}
{% endschema %}
