<link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{{ 'accordion.js' | asset_url }}" defer></script>

{% assign selected_variant = product.selected_or_first_available_variant %}

<style>
  .gallery-top.swiper-container {
    max-width: 500px;
    border-image: url(/assets/pattern-271.jpg) 10 repeat round;
    border-width: 10px;
    height: 350px;
  }

  .gallery-top .swiper-slide {
    padding: 30px;
  }

  .gallery-bottom .swiper-slide {
    width: 105px !important;
    height: 105px;
    border: 1px solid #c6c6c6;
    padding: 10px
  }

  .gallery-bottom .swiper-slide:hover {
    cursor: pointer
  }

  .gallery-bottom {
    max-width: 500px
  }

  .product-qty__wrapper .btn-minus svg,
  .product-qty__wrapper .btn-plus svg {
    width: 12px;
  }

  .product-qty__wrapper button {
    width: 44px;
    height: 44px;
    background: #f0f0f0;
  }

  .product-qty__wrapper input {
    width: 76px;
    height: 43px;
    border: 1px solid #c6c6c6;
    margin: 0 7px;
  }

  .cart-btn svg {
    margin-right: 20px;
    max-width: 22px;
  }

  .cart-btn {
    width: 262px;
    height: 56px;
  }

  .cart-btn:hover svg {
    fill: var(--yellow)
  }

  .faqs-container {
    max-width: 970px;
  }
  .question svg {
    fill: var(--yellow);
    max-width: 10px;
  }

  .products-grid .product-image-container {
    outline-color: #bdbdbd;
    outline-style: solid;
    outline-width: 1px;
    border: 10px solid transparent;
  }
  .products-grid a:hover .product-image-container {
    border-image: url("{{ 'pattern-271.jpg' | asset_url }}") 10 round;
    outline-color: transparent;
  }
  .product-code {
    color: #acacac;
  }
  .product-compare-price span {
    color: #bdbdbd;
  }

  .product-description ul {
    list-style: disc;
    padding-left: 20px;
  }

  .swiper-button-next:after, 
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after, 
  .swiper-rtl .swiper-button-next:after {
    font-size: 24px;
    color: #000
  }

  #main-featured .swiper-slide-active img {
    height: 95%
  }

  @media screen and (min-width: 1024px) {
    .gallery-top.swiper-container {
      border-image: url("{{ 'pattern-product.jpg' | asset_url }}") 10 round;
    }

    .gallery-top.swiper-container {
      height: 500px;
      width: 500px;
    }

    .product--information {
      max-width: 600px;
    }

    .gallery-bottom .swiper-slide {
      padding: 25px;
    }
  }
</style>
{% render 'stripe-pattern' %}
<div class="container mx-auto">
  <div class="hidden lg:block">
    {% render 'breadcrumbs' %}
  </div>

  <div class="block mt-6 lg:hidden">
    <div class="product-page-details border-b border-cart-gray-ac pb-2 lg:pb-5">
      <span class="uppercase text-wc-yellow font-euro font-extrabold text-base lg:text-xl block">{{ product.vendor }}</span>
      <h1 class="uppercase font-euro font-extrabold leading-none my-2 text-3xl lg:text-40px">{{ product.title }}</h1>
      {% if selected_variant.sku != blank %}
        <p class="product-code text-xs mb-2 text-cart-gray-ac">Product Code: {{ selected_variant.sku }}</p>
      {% endif %}
     
    </div>
  </div>
  
  <div class="lg:flex justify-between mt-6 lg:mt-0">
    <div class="product--medias">
      
      <div class="swiper-container gallery-top overflow-hidden" id="main-featured">
        <div class="swiper-wrapper">
          {% if product.media != blank %}
            {% for media in product.media %}
              {% render 'product-media', media: media %}
            {% endfor %}
            {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'h-full flex items-center justify-center w-full' }}
          {% endif %}
        </div>
      </div>
      
      <div class="swiper-container gallery-bottom mt-5 overflow-hidden relative">
        <div class="swiper-wrapper">
          {% for media in product.media %}
            {% render 'product-media', media: media %}
          {% endfor %}
        </div>
        
        {% if product.media.size >= 5 %}
          <button class="swiper-button-prev"></button>
          <button class="swiper-button-next"></button>
        {% endif %}
        
      </div>
    </div>
 
    <div class="product--information mt-8 w-full"
      x-data="{ 
        qty: 1,
        addToCart(){
          let formData = new FormData($refs.product_form);
          fetch('/cart/add.js', {
              method: 'POST',
              body: formData
            })
            .then(response => {
              return response.json();
            })
            .then(response => {
              this.$dispatch('cart-updated');
              this.$dispatch('toggle-cart');
            })
            .catch((error) => {
              console.error('Error:', error);
            });
        }
      }"
      @quantity-changed.window="qty = $event.detail.quantity"
    >
      {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
        <input type="hidden" name="id" value="{{ selected_variant.id }}">
        <div class="product-page-details border-b border-cart-gray-ac pb-2 lg:pb-5">
          <div class="hidden lg:block">
            <span class="uppercase text-wc-yellow font-euro font-extrabold text-base lg:text-xl block">{{ product.vendor }}</span>
            <h1 class="uppercase font-euro font-extrabold leading-none my-2 text-3xl lg:text-40px">{{ product.title }}</h1>
            {% if selected_variant.sku != blank %}
              <p class="product-code text-xs mb-2 text-cart-gray-ac">Product Code: {{ selected_variant.sku }}</p>
            {% endif %}
          </div>
          
          <div class="product-compare-price flex items-center mt-0 lg:mt-4" id="price-{{ section.id }}">
            <p class="text-wc-orange font-euro font-bold text-2xl">{{ selected_variant.price | money }}</p>
            {% if selected_variant.compare_at_price %}
              <span class="font-euro font-bold line-through ml-4 text-cart-gray-ac">{{ selected_variant.compare_at_price | money }}</span>
            {% endif %}
          </div> 
        </div>
        <div class="product-variants-btn pt-4 lg:pt-5">
          {% unless product.has_only_default_variant %}
            <div>
              <variant-selector data-url="{{ product.url}}" data-section="{{ section.id }}" class="md:flex md:items-center">
                  {% assign checksize = false %}
                  {% for option in product.options_with_values %}
                      {% if option.name == 'Size' %}
                        {% assign checksize = true %}
                      {% endif %}
                      <div class="variant-selector-container flex items-center mr-4">
                        <label for="Option-{{ section.id }}-{{ forloop.index0 }}" class="mr-2">{{ option.name }}</label>

                        <div class="my-2">
                            <select 
                                name="options[{{ option.name | escape }}]" 
                                id="Option-{{ section.id }}-{{ forloop.index0 }}" 
                                class="w-full border py-3 px-3"
                            >
                                {% for value in option.values %}
                                    <option 
                                        value="{{ value | escape }}"
                                        {% if option.selected_value == value %}
                                            selected="selected"
                                        {% endif %}
                                    >
                                        {{ value }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                      </div>

                      <script type="application/json">
                          {{ product.variants | json }}
                      </script>

                  {% endfor %}
                  
                  {% if checksize == true %}
                    {% assign collection_tags = product.tags | join: '~~~' | downcase | split: '~~~' %}
                    {% if collection_tags contains 'hard yakka coverall/overall' %}
                      <a href="/pages/size-guide/#hard-yakka-coverall/overall"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains 'cat men' %}
                      <a href="/pages/size-guide/#cat-men"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains 'steel blue men' %}
                      <a href="/pages/size-guide/#steel-blue-men"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains 'blundstone men' %}
                      <a href="/pages/size-guide/#blundstone-men"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a> 
                    {% elsif collection_tags contains 'oliver men' %}
                      <a href="/pages/size-guide/#oliver-men"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains 'mongrel men' %}
                      <a href="/pages/size-guide/#mongrel-men"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains 'steel blue women' %}
                      <a href="/pages/size-guide/#steel-blue-women"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains 'blundstone women' %}
                      <a href="/pages/size-guide/#blundstone-women"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains 'oliver women' %}
                      <a href="/pages/size-guide/#oliver-women"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains 'bisley ladies' %}
                      <a href="/pages/size-guide/#bisley-ladies"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a> 
                    {% elsif collection_tags contains 'king gee ladies' %}
                      <a href="/pages/size-guide/#king-gee-ladies"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains 'hard yakka ladies' %}
                      <a href="/pages/size-guide/#hard-yakka-ladies"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a> 
                    {% elsif collection_tags contains "bisley men's shirts" %}
                      <a href="/pages/size-guide/#bisley-men's-shirts"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "jb's wear shirts" %}
                      <a href="/pages/size-guide/#jb's-wear-shirts"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "king gee shirts" %}
                      <a href="/pages/size-guide/#king-gee-shirts"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "hard yakka shirts" %}
                      <a href="/pages/size-guide/#hard-yakka-shirts"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "gloweave 5045 fit" %}
                      <a href="/pages/size-guide/#gloweave-5045-fit"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "bisley men's pants" %}
                      <a href="/pages/size-guide/#bisley-men's-pants"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "jb's wear pants" %}
                      <a href="/pages/size-guide/#jb's-wear-pants"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "jb's wear wet weather pants" %}
                      <a href="/pages/size-guide/#jb's-wear-wet-weather-pants"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "king gee pants" %}
                      <a href="/pages/size-guide/#king-gee-pants"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "hard yakka pants" %}
                      <a href="/pages/size-guide/#hard-yakka-pants"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "cat pants" %}
                      <a href="/pages/size-guide/#cat-pants"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "bisley men's shorts" %}
                      <a href="/pages/size-guide/#bisley-men's-shorts"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "king gee shorts" %}
                      <a href="/pages/size-guide/#king-gee-shorts"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "hard yakka shorts" %}
                      <a href="/pages/size-guide/#hard-yakka-shorts"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "cat shorts" %}
                      <a href="/pages/size-guide/#cat-shorts"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "bisley jackets" %}
                      <a href="/pages/size-guide/#bisley-jackets"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "king gee jackets" %}
                      <a href="/pages/size-guide/#king-gee-jackets"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "hard yakka jackets" %}
                      <a href="/pages/size-guide/#hard-yakka-jackets"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "hard yakka coverall/overall" %}
                      <a href="/pages/size-guide/#hard-yakka-coverall/overall"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% elsif collection_tags contains "king gee coverall/overall" %}
                      <a href="/pages/size-guide/#king-gee-coverall/overall"  class="uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% else %}
                      <a href="/pages/size-guide/"  class="hidden uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center max-w-150 h-[47px] w-full">Size Guide</a>
                    {% endif %}
                  {% endif %}
                  


              </variant-selector>

            {% endunless %}


            <div class="my-3">
              <label for="Quantity-{{ section.id }}">Quantity</label>
              <div 
                class="my-2 product-qty__wrapper flex"
                x-data="{ 
                  qty: 1,
                  minus(value) {
                    this.qty = parseInt(this.qty);
                    (this.qty == 1) ? this.qty = 1 : this.qty -= value;
                  },
                  plus(value) {
                    this.qty = parseInt(this.qty);
                    this.qty += value;
                  }
                }"
                x-init="$watch('qty', value =>  $dispatch('quantity-changed', { quantity: value }))"
              >
                <button type="button" class="btn-minus flex items-center justify-center cursor-pointer hover:bg-wc-black transition hover:fill-white" @click="minus(1)">
                  <span class="sr-only">Minus</span>
                  {% render 'icon-minus' %}
                </button>
                <input type="number" x-model="qty" name="quantity" id="Quantity-{{ section.id }}" value="1" min="1" class="text-center">
                <button type="button" class="btn-plus flex items-center justify-center cursor-pointer hover:bg-wc-black transition hover:fill-white" @click="plus(1)">
                  <span class="sr-only">Plus</span>
                  {% render 'icon-plus' %}
                </button>
              </div>
            </div>
          </div>

          <div class="my-3">
        <!-- {{ selected_variant.available }} | {{ variant.available }} | {{ product_variant.available }} | {{ product.available }} -->
            <button type="submit" name="add" class="cart-btn uppercase transition bg-wc-yellow font-euro font-extrabold hover:bg-wc-black hover:text-wc-yellow flex items-center justify-center"
              {% if selected_variant.available == false %}
                disabled
              {% endif %}
            >
              {% if selected_variant.available == false %}
                  Sold out
                {% else %}
                  {% render 'icon-cart-btn' %} Add to cart
              {% endif %}
            </button>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
  <div class="product-other-details container mx-auto py-50px xct:py-100px">
    {% if product.description != blank %}
      <div class="product-description border-b border-gray-400 pb-8 lg:pb-50px">
        <h4 class="uppercase text-xl mb-4 lg:mb-8">Description</h4>
        {{ product.description }}
      </div>
    {% endif %}
  
    <div class="accordion">
      <!-- MATERIALS -->
      {% if product.metafields.my_fields.materials != blank %}
        <div class="border-b border-gray-400 py-6 accordion-item">
          <div class="question flex justify-between items-center">
            <h4 class="uppercase text-xl">Materials</h4>
            {% render 'icon-chevron-right' %}
          </div>
          <div class="answer pt-5 pl-10 hidden transition">
            {{ product.metafields.my_fields.materials.value }}
          </div>
        </div>
      {% endif %}
      <!-- SHIPPING AND RETURNS -->
      {% if product.metafields.my_fields.shipping_returns != blank %}
        <div class="border-b border-gray-400 py-6 accordion-item">
          <div class="question flex justify-between items-center">
            <h4 class="uppercase text-xl">Shipping & Returns</h4>
            {% render 'icon-chevron-right' %}
          </div>
          <div class="answer pt-5 pl-10 hidden transition">
            {{ product.metafields.my_fields.shipping_returns.value }}
          </div>
        </div>
      {% endif %}
    </div>   
  </div>
</div>

<!-- <ul class="product-tags">
  {% for tag in product.tags %}
  <li><a href="/collections/all/{{ tag | handleize }}">{{ tag }}</a></li>
  {% endfor %}
</ul> -->

{% assign related = product.tags | first  %}

{% assign myCounter = 0  %}

{% capture related_items %}
<div class="container mx-auto">
  <div class="products-grid pb-50px lg:pb-100px grid grid-cols-1 gap-y-10 place-content-center lg:grid-cols-2 xct:grid-cols-4 lg:gap-x-30px lg:gap-y-12">
    {% for collection in  product.collections %}
      {% for product1 in collection.products %}
        {% for tag in product1.tags %}
        {% unless myCounter >= 4 %}
          {% if tag == related %}
            {% if product1.id  != product.id %}
            {% render 'product-card', product: product1 %}
            {% assign myCounter = myCounter | plus: 1 %}
            {% endif %}
          {% endif %}
          {% endunless %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endcapture %}

{% unless related_items == blank %}

  <div class="container mx-auto">
    <h2 class="uppercase text-3xl border-b-3 border-wc-black pb-5 mb-8">{{ section.settings.heading }}</h2>
  </div>
  {{ related_items }}

{% endunless %}



<!-- 
{%- assign counter = 0 -%}
{%- assign break_at = section.settings.number_of_products | plus: 0 -%}
{%- assign current_product = product -%}
{{ current_product.handle }}
{%- capture related_items -%}
  {%- for product in collections.all.products -%}
    {%- unless product.handle == current_product.handle -%}

      {%- if product.tags contains 'Safety' -%}
        {% render 'product-card', product: product %}

        {%- assign counter = counter | plus: 1 -%}

        {%- if counter == break_at -%}
          {%- break -%}
        {%- endif -%}

      {%- endif -%}

    {%- endunless -%}
  {%- endfor -%}
{%- endcapture -%}
{%- assign related_items = related_items | trim -%}
{%- unless related_items == blank -%}
  <aside>
    {%- if section.settings.heading -%}
      <h2>{{ section.settings.heading }}</h2>
    {%- endif -%}

    {{ related_items }}
  </aside>
{%- endunless -%}-->

{% schema %} 
{
  "name": "Related products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Related products"
    }
  ]
}
{% endschema %}

<script>
   const galleryThumbs = new Swiper('.gallery-bottom', {
      spaceBetween: 10,
      slidesPerView: 4,
      watchSlidesProgress: true,
     
    });
    const galleryTop = new Swiper('.gallery-top', {
     
			thumbs: {
        swiper: galleryThumbs,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
   });
</script>
<script>
  class VariantSelector extends HTMLElement {
      constructor() {
          super();
          this.addEventListener("change", this.onVariantChange);
          this.getSelectedOptions();
          this.getSelectedVariant();
          //console.log(this.currentVariant.featured_image.src);
          this.updateImage();
      }
      onVariantChange() {
          this.getSelectedOptions();
          this.getSelectedVariant();
          if(this.currentVariant) {
              this.updateURL();
              this.updateFormID();
              this.updatePrice();
              this.updateImage();
          }
      }
      getSelectedOptions() {
          this.options = Array.from(this.querySelectorAll('select'), (select) => select.value);
          //console.log(this.options);
      }
      getVariantJSON() {
          this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
          return this.variantData;
      }
      getSelectedVariant() {
          this.currentVariant = this.getVariantJSON().find(
              (variant) => {
                  const findings = !variant.options.map(
                      (option, index) => {
                          return this.options[index] === option;
                      }
                  ).includes(false);
                  if(findings) return variant;
              }
          );
          
      }
      updateImage() {
        //console.log(this.currentVariant.featured_image.src);
        const mainImage = document.getElementById('main-featured').getElementsByClassName('swiper-slide-active')[0].getElementsByTagName('img')[0]
        mainImage.src = this.currentVariant.featured_image.src
      }
      updateURL() {
          if(!this.currentVariant) return;
          window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`);
      }
      updateFormID() {
          const form_input = document.querySelector("#product-form").querySelector('input[name="id"]');
          form_input.value = this.currentVariant.id;
      }
      updatePrice() {
          fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
          .then((response) => response.text())
          .then((responseText) => {
              const id = `price-${this.dataset.section}`;
              const html = new DOMParser().parseFromString(responseText, 'text/html');
              const oldPrice = document.getElementById(id);
              const newPrice = html.getElementById(id);
              if(oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;
          });
        if(this.currentVariant.available == false) {
          document.getElementsByClassName("cart-btn").disabled = true;
          document.getElementsByClassName("cart-btn").textContent = "Sold Out";
          console.log("test")
        } else {
          document.getElementsByClassName("cart-btn").disabled = false;
          document.getElementsByClassName("cart-btn").textContent = 'Add to cart';
          console.log("notest")
        }
      }
  }
  customElements.define("variant-selector", VariantSelector);
</script>
